@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    position: relative;
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.3vw;
    padding: 2vw 4vw;
    font-weight: 700;
}

.log {
    font-size: 1vw;
    border: 2px solid black;
    padding: 0.2vw 1vw;
    border-radius: 30px;
}

#containe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    gap: 1.2vw;

}

#containe a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 1.2vw;
    font-weight: 500;
}

#containe i {
    font-size: 1.5vw;
    display: inline;
    cursor: pointer;

}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;
    position: relative;


}

#text {
    font-size: 3vw;
    text-transform: capitalize;
    padding-left: 10vw;
}

#text h3 {
    font-size: 2.5vw;
}

#hero img {
    border-radius: 40px;
}

#leptop {
    padding: 2vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#txt {
    width: 65vw;
    height: 243px;
    padding: 3vw 4vw;
    box-shadow: 1px 2px 6px #a9a9a9;
    text-transform: capitalize;
    color: #5d5d5d;
}

#txt h1 {
    margin-bottom: 30px;
    color: black;

}

#lep {
    margin-top: 40px;

}

#lep a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#lep {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#second {
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#tree,
#tree1,
#tree2,
h1 {
    margin-bottom: 20px;
}


#tree,
#tree1,
#tree2,
img {

    width: 29vw;
    height: auto;
}

#first {
    font-size: 1vw;
    box-shadow: 1px 2px 6px #a9a9a9;
    padding: 40px 2vw;
    text-transform: capitalize;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;

}

#man {
    height: 500px;
    padding: 5vw 18vw;
    background-color: rgb(232, 303, 413);
    text-transform: capitalize;
}


#footer img {
    width: 35vw;
    height: auto;
}

#man h1 {
    margin-bottom: 2vw;
}



#blogs {
    font-family: "Inter", sans-serif;

}

#blogs img {
    margin-left: 10vw;
    width: 70vw;
    height: auto;
    margin-top: 2vw;
}

#blogs h1 {
    color: #454545;
    font-size: 3.5vw;
    margin-left: 10vw;
    margin-top: 1.5vw;
}

#blogs h3 {
    margin-left: 10vw;
    font-size: 1.3vw;
    font-weight: 700;
    color: #696868;
}

#blogs h3 span {
    color: #888;
    font-weight: 400;
    font-size: 1vw;
    margin-left: 20px;
    padding-bottom: 7vw;

}

#next {
    margin: 3vw 10vw;
    border-top: 2px solid #ada6a6;
    font-size: 16px;
    padding: 3vw 0vw;
    margin-right: 19vw;
}


#next p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #727272;

}

#next :first-child {
    margin-bottom: 2vw;
}


#next h3 {
    font-family: "Inter", sans-serif;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #575757;
}

#next h1 {
    font-family: "Inter", sans-serif;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #454545;
}



@media (max-width: 600px) {

    #logo {
        font-size: 3vw;
        padding: 4vw 4vw;
        font-weight: 800;
    }

    #containe a {
        font-size: 3vw;
        gap: 20vw;


    }

    #containe :first-child {
        margin-right: 1.5vw;
    }

    #containe i {
        display: none;

    }

    #hero {
        display: flex;
    }

    #text {
        padding: 0;
        font-size: 4vw;
    }

    #text h3 {
        font-size: 2vw;
    }

    #hero img {

        width: 60vw;
        height: auto;
    }

    #leptop {
        flex-direction: column-reverse;
    }

    #txt {
        padding: 8vw 5vw;
        font-size: 3vw;
        width: 100%;
    }

    #leptop img {
        margin-top: 6vw;
        width: 92vw;
    }

    #second {
        flex-direction: column;
    }

    #tree,
    #tree1,
    #tree2,
    img {

        width: 93vw;
        height: auto;
    }

    #first {
        font-size: 3vw;
        padding: 8vw 5vw;

    }

    #footer {
        flex-direction: column-reverse;
        margin-bottom: 2vw;
    }

    #footer img {
        width: 360px;
    }

    #man {
        height: 100%;
        font-size: 4vw;
        padding: 10vw 5vw;
    }

    #man p {
        font-size: 3vw;
    }

    #next p {
        font-size: 10px;
    }

    #next :first-child {
        margin-bottom: 6vw;
    }

    #next h3 {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

    #next h1 {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

}